.mui-content-login
{
    background-image: url(../images/login_bg.jpg);
    -webkit-overflow-scrolling: touch;
}

.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content{height: 100%;}